
nav {
    background-color: cornflowerblue;
    text-align: center;
    font-size: 2rem;
    
  ;
}


td {
    
    text-align:  center;
    color: blue;
}

td:hover {
    background-color: cornflowerblue;
}

button {
    width:100%;
}

table {
    width: auto;
    
    border: none;
}

#card {
    position: fixed;
    background-color: aqua;
    height: 500px;
    width: 150px;
    display: none;
}

